<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogDatabaseConnectionString" connectionString="server=127.0.0.1;database=TestDB;integrated security=sspi;" />
  </connectionStrings>
  <appSettings>
    <add key ="logToFile" value="true" />
    <add key ="logToConsole" value="true" />
    <add key ="logToDatabase" value="false" />
    <add key ="logMessage" value="true" />
    <add key ="logWarning" value="true" />
    <add key ="logError" value="true" />
    <add key ="LogFileDirectory" value="Logs" />
    
  </appSettings>

</configuration>